/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  padding: 1rem;

}

#sidebar_col{
  height: 98vh;
  max-height: 98vh;
}

#places{
  height: 100%;
  width: 100%;
  /*overflow-y: scroll;*/
}

#directions{
  height: 100%;
  width: 100%;
  /*overflow-y: scroll;*/
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#mainRow{
  height: 100vh;
  max-height: 100vh;
}

#mapContainer{
 
}

#sidebarContent{
  height: 70vh;
  max-height: 70vh;
  overflow: scroll;
}
.card{
  margin-right: 5px;
  margin-bottom: 10px;
  /*box-shadow: 2px 3px #888888;*/
}

.form-control{
  margin-bottom: 10px;
}

.tab-content{
  padding-top: 5px;
}

.card-button{
  margin-right: 2px;
}

@media (max-width: 992px) {
  #mapContainer{
    min-height: 50vh;
  }

  #sidebarContent{
    height: 40vh;
    max-height: 40vh;
    overflow: visible;
  }

  #sidebar_col{
    height: 45vh;
    max-height: 45vh;
    overflow: scroll;
  }
}