<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>History on the Go</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tour_app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Displays google maps-->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
    <script src="{% static "tour_app/google_map.js" %}"></script> 
  </head>
  <body>
    <!--Search Results sidebar-->
    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <!--Search box-->
        <div id ="input_container">
          <input id="map-input-Figure" class="controls" type="text" placeholder="Enter Historical Figure"/>
          <input id="map-input-address" class="controls" type="text" placeholder="Enter Search Address"/>
          {% comment %} <span id="profile"><button id="profile-btn">Profile</button></span> {% endcomment %}
          <div>
            <label for="radius">Search Radius (km): </label>
            <select id="map-input-radius" class="controls" name="radius">
              <option class="map-input-option" value="5">5</option>
              <option class="map-input-option" value="10">10</option>
              <option class="map-input-option" value="25">25</option>
              <option class="map-input-option" value="50">50</option>
              <option class="map-input-option" value="100">100</option>
            </select>
          </div>
          <input id="searchSubmitButton" type="button" value="Search Based on Historical Figure"/>
        </div>
        <h2>Results</h2>
        <div id="places" class="places_list">
        {% csrf_token %}
        </div>
      </div>
    </div>
  </body>