{% comment %}
TODO List:
- Make a sidebar for navigation
-
-
{% endcomment %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'tour_app/profile.css' %}">
</head>

<body>
  <h1>Profile Page</h1>
  {% comment %}Navigation button back to main content{% endcomment %}
  <a href="{% url 'tour_app:mapPage' %}" class="nav-btn">Back to Map Page</a>

  {% comment %}Profile update user information form{% endcomment %}
  <div class="content">
    <div class="form-container" id="update-user-info">
      <form action="" method="POST">
        {% csrf_token %}
        <h2>User Information</h2>
        <label class="form-label" for="first_name">First Name</label>
        <input class="form-input" name="first_name" value="{{ user.first_name }}" 
          placeholder="Enter First Name" required>
        <label class="form-label" for="last_name">Last Name</label>
        <input class="form-input" name="last" value="{{ user.last_name }}" 
          placeholder="Enter Last Name" required>
        <label class="form-label" for="email">Email Address</label>
        <input class="form-input" name="email" value="{{ user.email }}" 
          placeholder="Enter Email" required>

        <label id="address" class="form-label" for="address">Address</label>
        <input class="form-input" name="address" value="{{ user_location.address }}" 
          placeholder="Home Address" required>
        <label id="city" class="form-label" for="City">City</label>
        
        <input class="form-input" name="city" value="{{ user_location.city }}" 
          placeholder="City" required>
        <br>
        <label class="form-label" for="zipcode">Zip Code</label>
        <input class="form-input" name="zipcode" value="{{ user_location.zipcode }}" 
          placeholder="Zip Code" required>
        <label class="form-label" for="zip_ext">Zip Ext</label>
        <input class="form-input" name="zip_ext" value="{{ user_location.zip_ext }}" 
          placeholder="Zip Ext">
        <div>
          <button type="submit" class="submit-btn">Update Information</button>
        </div>
      </form>
    </div>
  </div>

  {% comment %}Change password form{% endcomment %}
  <div class="content">  
    <div class="form-container" id="update-password">
      <h2>Change Password</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <label class="form-label" for="current_password">Current Password</label>
        <input class="form-input" name="current_password" required>
        <label class="form-label" for="new_password">New Password</label>
        <input class="form-input" name="new_password" required>
        <label class="form-label" for="verify_password">Verify Password</label>
        <input class="form-input" name="verify_password">
        <div>
          <button type="submit" class="submit-btn">Update Password</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>