{% comment %}
TODO List:
- Make a sidebar for navigation
-
-
{% endcomment %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  {% load static %}
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'tour_app/profile.css' %}"> {% endcomment %}
</head>

<body>
  <h1>Profile Page</h1>
  {% comment %}Navigation button back to main content{% endcomment %}
  <a href="{% url 'tour_app:mapPage' %}" class="nav-btn">Back to Map Page</a>

  {% comment %}Profile update user information form{% endcomment %}
  
  <div class="content">
    <div class="form-container" id="update-user-info">
      <form action="" method="POST">
        {% csrf_token %}
        <h3>User Information</h3>
        <label class="form-label" for="first_name">First Name</label>
        <input class="form-input" name="first_name" value="{{ user.first_name }}" placeholder="Enter First Name" required>
        <label class="form-label" for="last_name">Last Name</label>
        <input class="form-input" name="last" value="{{ user.last_name }}" placeholder="Enter Last Name" required>
        <label class="form-label" for="email">Email Address</label>
        <input class="form-input" name="email" value="{{ user.email }}" placeholder="Enter Email" required>
      </form>
    </div>

    <div class="form-container" id="update-password">
      <form action="" method="POST">
        <label class="form-label" for="current_password">current password</label>
        <input class="form-input" name="current_password" required>
      </form>
    </div>
  </div>

</body>
</html>