<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- Header of the html file for registration page -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Registration Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tour_app/registration.css' %}">
   </head>


<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <!-- This is where the user submits a form to register, will need to link with backend. -->
    <form action="" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <!--{{regis_form.username}}-->
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <!--{{regis_form.email}}-->
        <input type="text" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <!--{{regis_form.password1}}-->
        <input type="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <!--{{regis_form.password2}}-->
        <input type="password" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
      <!-- If the user already has an account, it redirects back to the login page. -->
        <h3>Already have an account? <a href="login.html">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
